
<div style="float:right" class="login-form grey-background"><h4>Add Guest</h4>
    <form action="/login" method="post">
        <input type="text" ng-model="newGuest.firstName" placeholder="FirstName"/>
        <input type="text" ng-model="newGuest.lastName" placeholder="LastName"/>
        <input type="text" ng-model="newGuest.partyof" placeholder="Party Of"/>
        <input type="button" class="sign-in" ng-click="employeeAddGuest()" value="Add guest"/>
        <input type="button" class="sign-in" ng-click = "getEmployeeList()" value="Refresh"/>
    </form>
</div>

<div class="waitlist-list" style="float:left">
<ol class="list-group">
    <button type="button" id="myList"
            ng-click="editGuest(waititem.firstName)"
        class="list-group-item"
        ng-repeat="waititem in employeeWaitlist.listOfUsers">
        {{$index + 1}} - {{waititem.firstName}} {{waititem.lastName}} -&nbsp; waiting {{waititem.waiting}} minutes
        <span class="badge">Party of &nbsp;{{waititem.partyof}}</span>
        <!--<input type="button" ng-click="editGuest(waititem.firstName)" value="Edit"/>-->

    </button>
</ol>
</div>

<!--<div><input type="text" placeholder="Delete by FirstName"><input type="button" ng-click ="deleteGuest()" value="Delete Guest"></div>-->


