<h4>Add New Employee</h4>
<div>
    <form action="/login" method="post">

        <span>Restaurant Name: <input type="text" ng-model="employee.name"/></span>
        <span>Restaurant Password: <input type="text" ng-model="employee.password"/></span>
        <span>First Name:<input type="text" ng-model="employee.firstName"/></span>
        <span>Last Name:<input type="text" ng-model="employee.lastName"/></span>
        <span>Position:<input type="text" ng-model="employee.position"/></span>
        <span><input type="button" ng-click="registerEmployee()" value="Register"/></span>
    </form>

</div>
<div>
    Already a registered? <a href="#/employee-sign-in">Sign in</a>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<h4>Add New Restaurant</h4>
<div>
    <form action="/login" method="post">
        <span>Restaurant Name: <input type="text" ng-model="newRestaurant.name"/></span>
        <span>Restaurant Password: <input type="text" ng-model="newRestaurant.password"/></span>
        <span>Type:<input type="text" ng-model="newRestaurant.type"/></span>
        <span>Address:<input type="text" ng-model="newRestaurant.address"/></span>
        <span>Email:<input type="text" ng-model="newRestaurant.email"/></span>
        <span><input type="button" ng-click="registerRestaurant()" value="Register Restaurant"/></span>
    </form>

</div>

