
<div class="login-form grey-background" style="margin-top:2cm; float:right"
>
    <h4>Add New Employee</h4>

    <form action="/login" method="post">

        <input type="text" placeholder="Restaurant Name" ng-model="employee.name"/>
        <input type="text" placeholder="Password" ng-model="employee.password"/>
        <input type="text" placeholder="First Name" ng-model="employee.firstName"/>
        <input type="text" placeholder="Last Name" ng-model="employee.lastName"/>
        <input type="text" placeholder="Position" ng-model="employee.position"/>
        <input type="button" class="sign-in" ng-click="registerEmployee()" value="Register"/>
    </form>

</div>



<div class="login-form grey-background" style="margin-top:2cm; float:left;">
    <h4>Add New Restaurant</h4>

    <form action="/login" method="post">
        <input type="text" placeholder="Name" ng-model="newRestaurant.name"/>
        <input type="text" placeholder="Password" ng-model="newRestaurant.password"/>
        <input type="text" placeholder="Type" ng-model="newRestaurant.type"/>
        <input type="text" placeholder="Address" ng-model="newRestaurant.address"/>
        <input type="text" placeholder="Email" ng-model="newRestaurant.email"/>
        <input type="button" class="sign-in" ng-click="registerRestaurant()" value="Register Restaurant"/>
    </form>
    <div>
        Already registered? <a href="#/employee-sign-in">Sign in</a>
    </div>

</div>


