
<div>

    <form action="/login" method="post">
        <span>FirstName: <input type="text" ng-model="newGuest.firstName"/></span>
        <span>LastName: <input type="text" ng-model="newGuest.lastName"/></span>
        <span>Party Size: <input type="text" ng-model="newGuest.partyof"/></span>
        <span>  <input type="button" ng-click="employeeAddGuest()" value="Add guest"/></span>
        <span><input type="button" ng-click = "getEmployeeList()" value="Refresh"/></span>
    </form>
</div>

<div class="waitlist-list">
<ol class="list-group">
    <button type="button" id="myList"
            ng-click="editGuest(waititem.firstName)"
        class="list-group-item"
        ng-repeat="waititem in employeeWaitlist.listOfUsers">
        {{$index + 1}} - {{waititem.firstName}} {{waititem.lastName}} -&nbsp; waiting {{waititem.waiting}} minutes
        <span class="badge">Party of &nbsp;{{waititem.partyof}}</span>
        <!--<input type="button" ng-click="editGuest(waititem.firstName)" value="Edit"/>-->

    </button>
</ol>
</div>

<!--<div><input type="text" placeholder="Delete by FirstName"><input type="button" ng-click ="deleteGuest()" value="Delete Guest"></div>-->


