<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
    <meta charset="UTF-8">
    <title>What's The Wait</title>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/routing-test.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/test-styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body ng-controller="testController">

    <div class="container">

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">What's The Wait</a>
                </div>
                <ul class="nav navbar-nav">
                    <li ng-click="getRestaurants()">
                        <a href="#restaurants">Restaurants</a>
                    </li>

                    <!--<li>-->
                        <!--<a href="#reservations" ng-click="getRestaurantsForReservations()">Make a reservation</a>-->
                    <!--</li>-->

                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!returnedGuest&&!restaurantEmployee">
                        <a href="#/register">Register</a>
                    </li>

                    <!--<li ng-if="!restaurantEmployee">-->
                    <!--<a href="#/register">Sign up</a>-->
                    <!--</li>-->


                    <li ng-if="!returnedGuest&&!restaurantEmployee">
                        <a href="#/">Sign In</a>
                    </li>


                    <li ng-if="returnedGuest">
                        <a href="#/" ng-click="signOut()">Sign Out</a>
                    </li>

                    <li ng-if="restaurantEmployee">
                        <a href="#/" ng-click="signOut()">Sign Out</a>
                    </li>


                    <li ng-if="returnedGuest">
                        <a href="#/">{{returnedGuest.email}}</a>
                    </li>

                    <li ng-if="restaurantEmployee">
                        <a href="#/employee-sign-in">Employee {{restaurantEmployee.firstName}}</a>
                    </li>

                    <li>
                        <a href="#/employee-register">Employee Portal</a>
                    </li>

                </ul>
            </div>
        </nav>

        <!--<div class="carousel slide" data-ride="carousel" id="featured" >-->
            <!--<div class="carousel inner">-->
                <!--<div class="item active"><img src="images/carousel-restaurant-image.jpg"></div>-->
                <!--<div class="item"><img src="images/carousel-tables1.jpg" ></div>-->
                <!--<div class="item"><img src="images/carousel-tables2.jpg"></div>-->
                <!--<div class="item"><img src="images/carousel-tables3.jpg"></div>-->
            <!--</div>-->
        <!--</div>-->



<!--<h1>Restaurants</h1>-->
<!--<div class="restaurant-list">-->
<!--<h3>Select a Restaurant</h3>-->
<!--<ul class="list-group">-->

<!--<li ng-repeat ="restaurantItem in restaurantList">-->
<!--{{restaurantItem.name}}  is a {{restaurantItem.type}} restaurant located at {{restaurantItem.address}}-->

<!--</li>-->
<!--</ul>-->


<!--</div>-->


<div ng-view></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    </div>
</body>

</html>
