<div class="login-form grey-background"><h4>Sign In </h4>


<form action="/login" method="post">
        <input type="text" ng-model="currentGuest.email" placeholder="Email"/>
        <input type="text" ng-model="currentGuest.password" placeholder="Password"/>
        <input type="text" ng-model="currentGuest.partyof" placeholder="Party Of"/>
        <input type="button" class="sign-in" ng-click="login()" value="Sign in"/>

</form>
</div>

<div ng-if="returnedGuest">
        <h2>Welcome {{returnedGuest.email}} please check our restaurants</h2>
</div>
<br>
<br>
<br>




    <!--<h1>Hello <span ng-bind="name"></span></h1>-->

    <!--<p>Name : <input type="text" ng-model="name"></p>-->

    <!--{{name}} is trying to figure things out ... <br/><br/>-->

    <!--<input type="button" ng-click="login(name)" value="Login"/>-->

    <!--<div>-->

    <!--<form action="demo_form.asp">-->
        <!--Name: <input type="text" name="usrname"><br>-->
        <!--<input type="submit" ng-click= "login(usrname)" value="Submit">-->
    <!--</form>-->


    <!--</div>-->
