<!DOCTYPE html>
<html lang="en-US" ng-app="testApp">
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/routing-test.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="css/test-styles.css">
<body>


<div><h4>Sign In</h4></div>

<div>

</div>
<div>

<form action="/login" method="post">
        <span>Email: <input type="text" ng-model="currentGuest.email"/></span>
        <span>Password: <input type="text" ng-model="currentGuest.password"/></span>
        <span>Party Size: <input type="text" ng-model="currentGuest.partyof"/></span>
        <span>  <input type="button" ng-click="login()" value="Sign in"/></span>


</form>
</div>
<br>
<br>
<br>

<div> New Account? &nbsp;<a href="#/register">Sign up</a>
</div>



    <!--<h1>Hello <span ng-bind="name"></span></h1>-->

    <!--<p>Name : <input type="text" ng-model="name"></p>-->

    <!--{{name}} is trying to figure things out ... <br/><br/>-->

    <!--<input type="button" ng-click="login(name)" value="Login"/>-->

    <!--<div>-->

    <!--<form action="demo_form.asp">-->
        <!--Name: <input type="text" name="usrname"><br>-->
        <!--<input type="submit" ng-click= "login(usrname)" value="Submit">-->
    <!--</form>-->


    <!--</div>-->

</body>
</html>
