<div>
    <form action="/login" method="post">

    <span>FirstName: <input type="text" ng-model="currentGuest.firstName"/></span>
    <span>LastName: <input type="text" ng-model="currentGuest.lastName"/></span>
    <span>Email: <input type="text" ng-model="currentGuest.email"/></span>
    <span>Password: <input type="text" ng-model="currentGuest.password"/></span>
    <span>Party Size: <input type="text" ng-model="currentGuest.partyof"/></span>
    <span> <input type="button" ng-click="register()" value="Register"/></span>
    </form>

</div>

