<div class="">
    <h4>Restaurants Reservations</h4>
    <div class="restaurant-list">


        <!--Already a registered? <a href="#/">Sign in</a>-->
        <h4>Current User: {{returnedGuest.firstName}}</h4>



        <ul class="list-group">
            <button type="button" ng-click="getReservations(restaurant.name)"
                    class="list-group-item"
                    ng-repeat="restaurant in restaurantReservationList" id="listOfButtons">
                {{restaurant.name}}  -&nbsp; {{restaurant.type}}
                -&nbsp; {{restaurant.address}}
                <!--<span class="badge" style="float:right;">{{restaurantItem.waitingList.waitTime}} </span>-->

                <!--<span style="float:right; margin-right: 30px; color:grey;"><i>{{restaurantItem.waitingList.listOfUsers.length}} Guests</i></span>-->
                <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
            </button>
        </ul>
    </div>
</div>