
<h3 style="margin-top: 1cm;">Restaurants</h3>

<div class="restaurant-list">


    <!--Already a registered? <a href="#/">Sign in</a>-->
    <!--<h3>Current User: {{returnedGuest.firstName}}&nbsp; Party of {{returnedGuest.partyof}}  </h3>-->

    <!--<ul class="list-group">-->

        <!--<li ng-repeat ="restaurantItem in restaurantList">-->
            <!--{{restaurantItem.name}}  is a {{restaurantItem.type}} restaurant located at {{restaurantItem.address}}-->

        <!--</li>-->
    <!--</ul>-->


    <div class="list-group restaurant-list">
        <button type="button" ng-click="getWaitList(restaurantItem.name)"
                style="margin-top: 3px;"
            class="list-group-item login-form"
            ng-repeat="restaurantItem in restaurantList" id="listOfButtons">
            {{restaurantItem.name}}  -&nbsp; {{restaurantItem.type}}
            -&nbsp; {{restaurantItem.address}}
            <span class="badge" style="font-size:1em;">{{restaurantItem.waitingList.waitTime}} minute wait </span>

            <span style="float:right; margin-right: 30px; color:grey;"><i>{{restaurantItem.waitingList.listOfUsers.length}} Guests</i></span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
    </div>
</div>
</div>